body {
    margin: 0;
}

header {
    margin: auto;
    width: 50%;
}

header h1 {
    font-size: 50px;
    font-family: Arial;
    text-align: center;
    color: darkblue;
    display: block;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 30px;
}

header img {
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 30%;
}

header h3 {
    font-size: 30px;
    font-family: Arial;
    text-align: center;
    color: darkcyan
}

header p {
    text-align: center;
    font-family: Arial;
}

#susan-profession, #john-profession, #andrew-profession {
    color:cadetblue
}